[submodule "src/modules/challenges/ab_sniffer"]
	path = src/modules/challenges/ab_sniffer
	url = ../module-ab-sniffer-challenge.git
[submodule "src/modules/challenges/humanize_behaviour"]
	path = src/modules/challenges/humanize_behaviour
	url = ../module-humanize-behaviour-challenge.git
