site_name: RedTeam Subnet - Docs
site_description: "The RedTeam subnet by Innerworks is a decentralized platform designed to drive innovation in cybersecurity through competitive programming challenges."
site_url: https://docs.theredteam.io
repo_name: RedTeamSubnet/RedTeam
repo_url: https://github.com/RedTeamSubnet/RedTeam
extra_css:
  - assets/css/extra.css
theme:
  name: material
  language: en
  font:
    text: Roboto
    code: Roboto Mono
  logo: assets/images/logo.light.svg
  favicon: assets/images/logo.dark.svg
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.indexes
    - navigation.tracking
    - navigation.tabs
    - navigation.top
    - navigation.footer
    # - navigation.tabs.sticky
    # - navigation.sections
    # - navigation.expand
    # - navigation.instant
    - toc.follow
    # - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: redteam
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - footnotes
  - tables
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.blocks.caption
  - pymdownx.smartsymbols
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.arithmatex:
      generic: true
extra_javascript:
  - assets/js/mathjax.js
  - assets/js/tex-mml-chtml.js
plugins:
  - meta
  - tags
  - search
  - awesome-nav
  - mkdocstrings
extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/solid/globe
      link: https://theredteam.io
    - icon: fontawesome/solid/blog
      link: https://blog.theredteam.io
    - icon: fontawesome/solid/chart-line
      link: https://dashboard.theredteam.io
    - icon: fontawesome/brands/discord
      link: https://discord.com/channels/799672011265015819/1319313447435108413
    - icon: fontawesome/brands/github
      link: https://github.com/RedTeamSubnet
    - icon: fontawesome/brands/medium
      link: https://medium.com/@TheRedTeam
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/_redteam_
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/u/redteamsubnet61
copyright: Copyright &copy; 2026 - RedTeam Subnet.
