## --- Environment variable --- ##
ENV=LOCAL
DEBUG=false
# TZ=UTC


## -- API configs -- ##
ABS_API_PORT=10001
# ABS_API_LOGS_DIR="/var/log/rest.rt-abs-challenger"
# ABS_API_DATA_DIR="/var/lib/rest.rt-abs-challenger"

# ABS_API_VERSION="1"
# ABS_API_PREFIX=""
# ABS_API_DOCS_ENABLED=true
# ABS_API_DOCS_OPENAPI_URL="{api_prefix}/openapi.json"
# ABS_API_DOCS_DOCS_URL="{api_prefix}/docs"
# ABS_API_DOCS_REDOC_URL="{api_prefix}/redoc"

ABS_CHALLENGE_PUSHCUT_API_KEY="pushcut_api_key_here"
ABS_CHALLENGE_PUSHCUT_SHORTCUT="rt-abs"
ABS_CHALLENGE_PUSHCUT_SERVER_ID="pushcut_server_id_here"
ABS_CHALLENGE_PUSHCUT_WEB_URL="http://reward-app:10001/_web"
ABS_RESULT_ENDPOINT="http://example.com/"
RT_COMPARER_RANDOM_SEED="RANDOM_SEED"
